<!DOCTYPE html>
<html>
   <head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href='{{ "/assets/reveal.js-3.8.0/css/reveal.css" | relative_url }}'>
	<link rel="stylesheet" type="text/css" href='{{ "/assets/css/ben-reveal-theme.css" | relative_url }}'>
  </head>
  <body>
    <!-- this is where the reveailfy filter gets applied -->
    {{ content | revealify }}

    <!-- load the reveal.js css & js (assuming you've put it in assets/)-->
    <link
      rel="stylesheet"
      href="{{site.baseurl}}/assets/reveal.js-3.8.0/css/reveal.css"
    />
    <link
      rel="stylesheet"
      href="{{site.baseurl}}/assets/reveal.js-3.8.0/css/theme/white.css"
    />
    <script
      src="{{site.baseurl}}/assets/reveal.js-3.8.0/js/reveal.js"
      type="text/javascript"
    ></script>

    <!-- configure the presentation, (you can tweak options to suit) -->
    <script>
      Reveal.initialize({
        controls: true,
        controlsTutorial: true,
        controlsLayout: "bottom-right",
        controlsBackArrows: "faded",
        progress: true,
        slideNumber: false,
        history: false,
        keyboard: true,
        overview: true
      });
    </script>
  </body>
</html>
